
<div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container">
      <div class="card bg-light Grid" *ngIf="weatherService.$weather | async as weather">
        <div class="icon">
          <div>{{weather.icon}}</div>
        </div>
        <div class="temp">
          <p>{{ weather.temp }}º</p>
        </div>

        <div class="lowtemp">
          <p>lowtemp</p>
        </div>

        <div class="hightemp">
          <p>hightemp</p>
        </div>

        <div class="description">
          <h2>{{ weather.name }}</h2>
          <p>{{ weather.description }}</p>
        </div>
      </div>
      
    </div>
  </div>
