@import "../../Colors";

%longHightTemp
{
    color: $accent;
    span
    {
        color: $dark;
        opacity: 0.56;
        font-size: 0.6em;
    }
}

.card
{  
    width: 300px;
    min-width: 300px;  
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 16px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 ipx 2px rgba(0, 0, 0, 0.24);
    margin: 0 auto;
    padding: 2em;
    text-align: center;        
}

.Grid
{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "icono icono temperature temperature"
    "lowtemp lowtemp hightemp hightemp"
    "description description description description";

        .icon
        {
            grid-area: icono;
        }

        .temp
        {
            grid-area: temperature;

            .big
            {
                color: $main;
                font-size: 2em;
                font-weight: bold;
            }
        }

        .lowtemp,

        .lowtemp
        {
            @extend %longHightTemp;
            grid-area: lowtemp;
        }

        .hightemp
        {
            @extend %longHightTemp;
            grid-area: hightemp;
        }

        .description
        {
            grid-area: description;
            
            h2
            {
                color: $accent;  
                font-size: 1.2em;
                text-transform: uppercase;   
                letter-spacing: 0.3em;
            }
        }
}
